@main-color: rgb(231,50,80);
@common-color:@main-color;
@border-color:#cdcdcd;
@score-grey: #515151;
@grey-font:#8a8a8a;
@margin-interval:20rpx;
.m-title{
  color: @grey-font;
  line-height: 36rpx;
  margin-top: @margin-interval;
}
.m-grey{
  color: @grey-font;
}
.m-width{
  width: 100%;
}
.m-price{
  color: #f4690c;
  font-size: 32rpx;
}
.score-grey{
  color: #515151;
  font-size: 28rpx;
}
page{
  font-size: 30rpx;
}
.m-no{
  text-align: center;
  margin-top: 100rpx;
}

.fz18 {
  font-size: 18rpx;
}
.fz24 {
  font-size: 24rpx;
}

.fz25 {
  font-size: 25rpx;
}

.fz26 {
  font-size: 26rpx;
}

.fz27 {
  font-size: 27rpx;
}

.fz28 {
  font-size: 28rpx;
}

.fz29 {
  font-size: 29rpx;
}

.fz30 {
  font-size: 30rpx;
}

.fz31 {
  font-size: 31rpx;
}

.fz32 {
  font-size: 32rpx;
}